@use '@carbon/layout';

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: layout.$spacing-05 0;

  > button {
    margin-left: layout.$spacing-05;
  }
}

.spinner {
  &:global(.cds--inline-loading) {
    min-height: layout.$spacing-05;
  }

  :global(.cds--inline-loading__text) {
    font-size: unset;
  }
}
