@use '@carbon/colors';
@use '@carbon/layout';
@use "@carbon/type";

.buttonsContainer {
  display: flex;
  align-items: center;
}

.iconAndName {
  display: flex;
  align-items: center;
}

.questionLabel {
  @include type.type-style('body-01');
}

.isDragged, .normal {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.isDragged {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.552);
}

.dragIconContainer {
  cursor: pointer;

  :hover {
    background-color: colors.$white-0;
  }
}

.dragIcon {
  margin: 0 layout.$spacing-03;
  padding: 0.25rem;
  color: colors.$gray-80;
  margin-top: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}
