@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  :global(.cds--modal-content:focus) {
    outline: none;
  }

  :global(.cds--tooltip) {
    z-index: 1;
  }
}

.helperText {
  @include type.type-style('body-compact-01');
  margin: 1rem 0rem;
}

.heading {
  @include type.type-style('heading-03');
  margin: 1rem 0rem 0.5rem;
}

.styledHeading {
  @include type.type-style('heading-02');
  margin: 0.5rem 0rem;

  &:after {
    content: "";
    display: block;
    width: 2rem;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

.subheading {
  @extend .heading;
  @include type.type-style('heading-02');
}

.name {
  @extend .heading;
  @include type.type-style('heading-02');
}

.editableFieldsContainer {
  margin: 1rem 0;
  border-bottom: 1px solid $ui-03;
}

.addQuestionButton {
  margin: 0.75rem 0;
}

.header {
  margin-top: 5rem; 
  margin-bottom: 1rem;
  width: 80%;
}

.explainer {
  margin: 1.5rem 0;
}

.startButton {
  margin: 1rem 0;
}

.editorContainer {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0.5rem;
  align-items: center;
  width: 100%;
}

.questionLabel {
  @include type.type-style('body-01');
}

.addSectionButton {
  margin: 1.5rem 0;
}
