@use '@carbon/colors';
@use '@carbon/layout';
@use "@carbon/type";

.buttonsContainer {
  display: flex;
  align-items: center;
}

.iconAndName {
  display: flex;
  align-items: center;
}

.questionLabel {
  @include type.type-style('body-01');
}

.questionBlock {
  margin: 0 0.5rem;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
