.tabContentWrap {
  margin-top: 2rem;
}

.formNameContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.textInput {
  margin-right: 1rem;

  input {
    width: 400px;
    background-color: white;
  }
}

.setSchemaNameButton {
  top: 25px;
}
