@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";

.grid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.column {
  margin-left: 0;
  margin-right: 0;
}

.wrap {
  margin-top: 1rem;
}

.optionRow {
  justify-content: flex-end;
  margin-right: 0px;
}

.optionButtons {
  margin-right: 10px;
}

.saveOptionButton {
  color: #525252;
  margin-right: 10px;
}

.saveOptionButton:active {
  color: #525252;
}

.saveOptionButton:hover {
  color: #525252;
}

.saveOptionButton:focus {
  border-color: #a6a6a6;
  box-shadow: inset 0 0 0 1px #a6a6a6, inset 0 0 0 2px #fff;
}

:global(.cds--tab--list) {
  width: 100%!important;
}

:global(.cds--tabs__nav-item) {
  width: 100%!important;
}

:global(.cds--tabs__nav-link) {
  width: 100%!important;
}

:global(.cds--tabs--scrollable__nav-link:focus) {
  outline: none!important;
}

:global(.cds--tabs__nav-item--selected) {
  border-bottom: 2px solid var(--cds-border-interactive, #005d5d) !important;
  outline: none!important;
}

.renderComponent {
  height: 75vh;
  background-color: white;
  padding: 1rem;
  overflow-y: scroll;
}
