@use '@carbon/colors';
@use '@carbon/layout';
@use "@carbon/type";

:global {
  .cds--modal-close-button {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    margin: 0;
    margin-top: calc(-1 * #{layout.$spacing-05});
  }

  .cds--modal-close {
    background-color: rgba(0, 0, 0, 0);

    &:hover {
      background-color: var(--cds-layer-hover);
    }
  }

  .cds--popover--left > .cds--popover > .cds--popover-content {
    transform: translate(-4rem, 0.85rem);
  }

  .cds--popover--left > .cds--popover > .cds--popover-caret {
    transform: translate(-3.75rem, 1.25rem);
  }
}

.container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.grid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;

  :global(.cds--tabs__nav-item--selected) {
    border-bottom: 2px solid var(--cds-border-interactive, colors.$teal-70);
    outline: none !important;
  }
}

.column {
  margin-left: 0;
  margin-right: 0;
}

.maximized .column:last-child {
  display: none;
}

.errorNotification {
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    margin-left: 1rem
  }
}

.formName {
  @include type.type-style('heading-03');
}

.editorContainer {
  padding: 1rem;

  :global(.ace_editor .ace_content .ace_layer .error) {
    position: absolute;
    background-color: colors.$red-60;
    border-radius: 0;
  }
}

.heading {
  display: flex;
  margin-right: 1rem;
  align-items: center;
}

.bottomHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabHeading {
  display: flex;
  align-items: center;
  @include type.type-style('heading-compact-01');
  min-height: 2.5rem;
  width: 100%;
  padding: 0.75rem;
}

.backButton {
  margin-left: layout.$spacing-05;
  padding: layout.$spacing-03 0;
  max-width: fit-content;

  a {
    text-decoration: none;
  }

  button {
    display: flex;
    padding-left: 0 !important;

    svg {
      order: 1;
      margin: 0 layout.$spacing-03;
    }

    span {
      order: 2;
    }
  }
}

button {
  padding-block-start: 0.5rem;
}

.topBtns {
  display: flex;
  align-items: center;
}
