@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.breadcrumbsContainer {
  nav.breadcrumbs-container {
    background-color: $ui-02;
  }
}

.grid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;

  :global(.cds--tabs__nav-item--selected) {
    border-bottom: 2px solid var(--cds-border-interactive, #005d5d);
    outline: none !important;
  }
}

.column {
  margin-left: 0;
  margin-right: 0;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0;

  button {
    margin-left: 1rem
  }
}

.spinner {
  &:global(.cds--inline-loading) {
    min-height: 1rem;
  }
}
