@use '@carbon/colors';

.sortableTag {
  transition: transform 250ms ease;
  opacity: 1;
}

.sortableTag.dragging {
  opacity: 0.5;
}

.sortableTagWrapper {
  display: flex;
  align-items: center;
}

.conceptAnswerButton {
  margin-left: 5px;
  color: colors.$black;
  background: none;
  border: none;
  padding: 0;
}

.dragHandle {
  cursor: grab;
}
