.CreatePageButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.conceptRow {
  margin-left: 0px;
}

.comboBox {
  background-color: white;
}

.removeConceptButton {
  height: 39px;
  top: 25px;  
}
