@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.label {
  margin-bottom: 0.5rem;
}

.loader {
  padding: 0.75rem 0.5rem;
}

.tag {
  margin-right: 0.5rem;
}

.form {
  overflow-y: scroll;
}

.conceptList,
.personAttributeTypeList,
.patientIdentifierTypeList {
  background: colors.$white-0;
  max-height: 14rem;
  overflow-y: auto;
  border: 1px solid colors.$gray-20;
  border-top: none;
}

.conceptList,
.personAttributeTypeList,
.patientIdentifierTypeList li:hover {
  background-color: colors.$gray-20;
}

.concept,
.personAttributeType,
.patientIdentifierType {
  padding: 0.75rem;
  border-bottom: 1px solid colors.$gray-20;

  &:last-of-type {
    border-bottom: none;
  }
}

.emptyResults {
  @include type.type-style('body-compact-01');
  color: colors.$gray-70;
  min-height: 1rem;
}

.oclLauncherBanner {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$gray-50;

  p {
    color: colors.$white-0;
  }
}

.oclLink {
  color: colors.$blue-10;
  display: flex;
  align-items: center;

  svg {
    margin-left: 0.25rem;
  }
}

.table {
  width: 100%;

  tr {
    background-color: colors.$white-0;
    border: 1px solid colors.$gray-20;
  }

  td,
  th {
    padding: 0.25rem;
    border: 1px solid colors.$gray-20;
    max-width: 10rem;
    text-align: left;
  }
}

.tableStriped {
  @extend .table;

  thead {
    font-weight: bold;
  }

  tbody > tr:nth-child(odd) {
    background-color: colors.$gray-10;
  }
}

.multiSelect {
  :global(.cds--list-box__field--wrapper) {
    align-items: center;
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    margin-left: 0.5rem;
    width: 100%;
  }
}

.error {
  width: 100%;
  max-width: unset;
  padding: '0rem';
  margin-bottom: 1rem;
}

.required {
  color: colors.$red-60;
  margin-left: 0.125rem;
}

.modalHeader {
  :global {
    .cds--modal-close-button {
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      margin: 0;
      margin-top: calc(-1 * #{layout.$spacing-05});
    }

    .cds--modal-close {
      background-color: rgba(0, 0, 0, 0);

      &:hover {
        background-color: var(--cds-layer-hover);
      }
    }

    .cds--popover--left > .cds--popover > .cds--popover-content {
      transform: translate(-4rem, 0.85rem);
    }

    .cds--popover--left > .cds--popover > .cds--popover-caret {
      transform: translate(-3.75rem, 1.25rem);
    }
  }
}
