@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  padding: 2rem;
  background-color: $ui-01;
}

.backgroundDataFetchingIndicator {
  flex: 1;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.toolbarWrapper {
  position: relative;
  display: flex;
  height: spacing.$spacing-09;
  justify-content: flex-end;
}

.tableToolbar {
  width: 20%;
  min-width: 12.5rem;
}

.table tr:last-of-type {
  td {
    border-bottom: none;
  }
}

.heading {
  margin-bottom: 1.5rem;
}

.toolbar {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 3rem;
  margin-bottom: 0.5rem;
}

.emptyContainer {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.tableContainer {
  padding: 0;

  :global(.cds--data-table-content) {
    border: 1px solid $ui-03;
    border-bottom: none;
    overflow: visible;
  }

  :global(.cds--table-toolbar) {
    position: relative;
    height: 2rem;
    min-height: 0rem;
    overflow: visible;
    top: 0;
  }

  &:global(.cds--data-table-container) {
    padding-top: 0rem;
  }
}

.filterContainer {
  flex: 1;

  :global(.cds--dropdown__wrapper--inline) {
    gap: 0;
  }

  :global(.cds--list-box__menu-icon) {
    height: 1rem;
  }
}

.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: 0.5rem;
}

.tileContainer {
  background-color: $ui-02;
  border-top: 1px solid $ui-03;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warningMessage {
  margin: 1.5rem 0;
}