@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.questionContainer {
  display: flex;
  flex-direction: row;
  min-height: layout.$spacing-09;
  justify-content: space-between;
  width: 100%;
}

.obsGroup {
  cursor: pointer;
  transition: background-color 0.1s;
  border-radius: 1px;
  &:hover {
    background-color: colors.$gray-20;
  }
  border-top: 1px solid colors.$gray-20;
  border-bottom: 1px solid colors.$gray-20;
}

.obsQuestions {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.question {
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  align-items: center;
}

.iconAndName {
  display: flex;
  align-items: center;
}

.questionLabel {
  @include type.type-style('body-01');
}

.dragContainer {
  display: flex;
  min-height: layout.$spacing-09;
  justify-content: space-between;
  width: 100%;
}

.dragContainerWhenDragging {
  @extend .dragContainer;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background-color: rgba(255, 255, 255, 0.552);
  transform: scale(0.75);
}

.dragIcon {
  margin-right: layout.$spacing-02;

  :focus {
    border: none !important;
  }
}

.hiddenAccordion {
  display: none;
}

.accordionContainer {
  width: 95%;
}

.collapseIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.collapseIcon {
  fill: colors.$gray-70;
  width: 1rem;
  height: 1rem;
}

.isOver {
  border-color: colors.$teal-40;
}
