@use '@carbon/colors';
@use '@carbon/type';

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0;

  button {
    margin-left: 1rem
  }
}

.heading {
  @include type.type-style('heading-compact-02');
  margin-bottom: 1rem;
}
