@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0;
  margin-right: 2.9rem;

  button {
    margin-left: 1rem
  }
}

.errorContainer {
  @include type.type-style("body-compact-02");
  background-color: colors.$red-20;
  color: colors.$red-70;
  padding: 1.5rem;
  margin: 1rem 0;
}

.heading {
  @include type.type-style('heading-compact-02');
  margin-bottom: 1rem;
}
